* 
{
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    color: #b4b4b4;
}


header {
    width: 100%;
    height: 120px;
    color: #afad95;
    margin-top: 0;
    text-align: center;
    font-size: xx-large;
    background-color: #083011;
}


header h1 {
    margin: 0;
    padding-top: 10px;
}


html {
    height: 100%;
}

