* 
{
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    color: #b4b4b4;
}

header {
    width: 100%;
    color: #44433c;
    margin-top: 0;
    font-size: xx-large;
    background-color: #ffffff80;
    box-shadow: 0px 0px 10px rgb(207, 207, 207);
}


header h1 {
    margin: 0;
    padding-top: 2px;
    font-family: 'Parisienne', cursive;
    font-weight: bolder !important;

}


html {
    height: 100%;
}

#checkboxMenu{
    display: flex;
    flex-direction: column;
}

#card-name{
    border: solid black;
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: #083011;
    color: white;
    border: 2.5px solid black;
    border-radius: 0.8rem;
    padding: 10px;
    font-family: 'Old Standard TT', serif;;
}

#footer{
    text-align: center;
    line-height: 1.8;
}

#card-content{
    text-align: center;
}

.cardTitle{
    position: relative;
    top: 25px;
    z-index: 1;
}

#website{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;;
}

.restaurantDescription{
    cursor: pointer;
}

.card-footer{
    justify-content: center;
}

form {
    position: fixed;
    z-index: 1;
    left: 2px;
    box-shadow: 0px 0px 10px rgb(207, 207, 207);
    margin-top: 5px;
}

#userLocationInput{
    width: 150px;
}

#restaurantCardSection{
    margin-left: 160px;
}